.nav {
    background: none;
    height: 14vh;
    min-height: 80px;
}
.main {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 80vh;
    align-items: center;

}
.main-profile {
    width: 50%;
    height: 70%;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;
    display: flex;
    max-width: 700px;
    min-height: 380px;
}
.profile-menu {
    width: 35%;
    background-color: #7CC5F6;
    height: 100%;
}
.profile-content {
    width: 65%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-content-profile {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}
.main-content-profile div:not(:first-child) {
    margin-top: 20px;
}
.header-menu {
    margin: auto;
    margin-top: 20px;
}
.header-menu * {
    width: max-content;
    margin: auto;
}
.avatar-img {
    width: 40%;
}
.avatar-img img {
    width: 100%;
}
.header-menu .edit-profile-button {
    padding: 2px 10px;
    color: #2ab3b8;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 25px 25px;
}
.header-menu .edit-profile-button:hover {
    color: #fff;
    background-color: #2ab3b8;
    cursor: pointer;
}
.options-profile {
    width: 60%;
    padding: 5px 10px;
    border-radius: 25px;
    border: 1px solid #fff;
    color: #fff;
    margin: auto;
    margin-top: 20px;
    text-align: center;
    display: block;
    text-decoration: none;
}
.options-profile:hover {
    border-color: #2ab3b8;
    color: #7CC5F6;
    cursor: pointer;
    background-color: #fff;
}
.highlight {
    color: #7CC5F6;
    font-weight: 700;
    background-color: #2ab3b822;
    border-radius: 25px;
    padding: 2px 10px;
}
.edit-content {
    width: 65%;
}
.edit-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}
.edit-profile input:not(:first-child) , .edit-profile textarea {
    margin-top: 10px;
}
.edit-profile input , .edit-profile textarea {
    background-color: #f5f5f5;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 25px;
    box-sizing: border-box;
    width: 70%;
    font-family: inherit;
    font-size: small;
}
.edit-profile textarea {
    resize: none;
    height: 80px;
}
.edit-profile input[type= submit] {
    padding: 5px 40px;
    background-color: #7CC5F6;
    color: #fff;
    width: max-content;
}
.edit-profile input[type= submit]:hover {
    background-color: #2ab3b822;
    color: #7CC5F6;
    cursor: pointer;
}
@media only screen and (max-width: 900px) {
    .main-profile {
        width: 80%;
    }
}
@media only screen and (max-width: 500px) {
    .main-profile {
        flex-direction: column;
        height: auto;
    }
    .main-profile > div {
        width: 100%;
        padding: 20px 0;
    }
    .avatar-img {
        width: 20%;
        min-width: 80px;
    }
    .header-menu {
        margin-top: 0;
    }
    .options-profile {
        width: 40%;
        padding: 2px 5px;
    }
    .main {
        margin-top: 0;
        height: unset;
    }
    .main-information {
        margin-top: 20px;
    }
}
.err , .suc {
    width: 80%;
    font-size: small;
    padding: 5px 5px;
}
.err {
    background-color: #FFCCCC;
    color: #ff0000;
    border-color: #ff0000;
}
.suc {
    background-color: #3bc88d;
    color: #ffffff;
    border-color: #abe5a2;
}
.op-m0 {
    margin: 5px;
}
